table {
	background : #3BBB5F;
	margin: auto;
	/* min-height: 500px; */

}
#Result {
	width: 230px;
	height: 27px;
}
.bam {
	height: 50px;
	width: 44px;
}
#abc {
	height: 102px;

}
#xam {
	width: 91px;
	height: 50px;

}
#a {
	height: 500px;
	width: 746px;
	background: #BB5E20;
	margin: auto;
}
img {
	height: 700px;
	height: 500px;
}
#anh {
	width: : 100px;
	height: 114px;
}